body {
  background-color: #30303A;
  color: #fff;
  font-family: Helvetica Neue, sans-serif;
  font-size: 20px;
  padding: 40px;
  padding-bottom: 0;
}

strong {
  color: #B68DE0;
}

h1 {
  font-size: 40px;
  margin-bottom: 1.5em;
  text-align: center;
}

h2 {
  font-weight: normal;
}

.let {
  color: #B68DE0;
}

.expression {
  color: #F9DF4A;
}

.pattern {
  color: #1FDDBA;
}

.comment {
  color: #959292;
}

.disclaimer {
  line-height: 2em;
  padding-bottom: 2em;
}

div p.disclaimer {
    padding-left: 2em;
}

code {
  display: block;
  font-family: Menlo, monaco, monospace;
  font-size: 20px;
  margin-bottom: 3em;
  margin-left: 40px;
  margin-top: 1.5em;
}

.inline-code {
    font-family: Menlo, monaco, monospace;
    color: #B68DE0;
}

footer {
  font-size: 12px;
  margin-top: 200px;
  opacity: 0.4;
  text-align: right;
}

a {
  color: #B68DE0;
  text-decoration: none;
}



#forkongithub a{background:#AA3333;color:#fff;text-decoration:none;font-family:Helvetica Neue,sans-serif;text-align:center;font-weight:bold;padding:5px 40px;font-size:1rem;line-height:2rem;position:relative;transition:0.5s;}#forkongithub a:hover{background:#c11;color:#fff;}#forkongithub a::before,#forkongithub a::after{content:"";width:100%;display:block;position:absolute;top:1px;left:0;height:1px;background:#fff;}#forkongithub a::after{bottom:1px;top:auto;}@media screen and (min-width:800px){#forkongithub{position:absolute;display:block;top:0;right:0;width:200px;overflow:hidden;height:200px;z-index:9999;}#forkongithub a{width:200px;position:absolute;top:60px;right:-60px;transform:rotate(45deg);-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);-moz-transform:rotate(45deg);-o-transform:rotate(45deg);box-shadow:4px 4px 10px rgba(0,0,0,0.3);}}
