/* root items */
* {
	--emoji-size: calc( 1.3 * 1em );
}

/* navigation bar */


/* _coverpage.md */
section.cover.show:before {
  background: linear-gradient(to bottom, #6e529d 0%,#d97b93 100%);
}
section.cover {
	color: #FFF;
}
section.cover h1 {
	text-shadow: 0 1px 1em rgba(0,0,0,0.25);
}
section.cover p:last-child a {
	border: none !important;
	background: rgba(255, 255, 255, 0.1) !important;
	color: #FFF !important;
}
section.cover p:last-child a:first-child {
	color: #222 !important;
	background: #FFF !important;
}
section.cover .cover-main { max-width: 100%; }
section.cover h1 span span:before {
	content: "Fudging";
}
section.cover h1:hover span span:before {
	content: "F#%&ing";
}


/* other pages */
h1, h2, h3, h4, h5, h6 {
	font-weight: bold !important;
}

article#main h4,
article#main h5,
article#main h6 {
	font-size: var(--heading-h4-font-size);
}

h1 b:before,
h2 b:before,
h3 b:before,
h4 b:before,
h5 b:before,
h6 b:before {
	content: '*';
	color: rgb(202, 114, 114);
}

.markdown-section ol ol,
.markdown-section ul ol {
	list-style-type: lower-alpha;
}

.markdown-section ol ol ol,
.markdown-section ul ol ol {
	list-style-type: lower-roman;
}

.markdown-section strong + .emoji {
	width: 1em;
}

article#main a {
	font-weight: bold;
	color: var(--blockquote-color);
}



/* responsive video */
.mbwrapper {
	position: relative;
	padding-bottom: calc(var(--aspect-ratio, .5625) * 100%);
	height: 0;
}
.mbwrapper iframe,
.mbwrapper video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}



.sidebar-nav li > a {
	white-space: normal;
}

.sidebar-nav ul ul .active > a {
	background-color: rgba(0,0,0,0.1) !important;
}


img {
	max-width: 40em !important;
	border-radius: .6em;
}

/* buttons */
a.mb-button {
	position: relative;
	text-decoration: none !important;
	line-height: 3em;
	border: 0 !important;
	display: block;
	text-align: left;
	padding: 0 6em 0 1em;
	border-radius: var(--cover-button-border-radius);
	background: #d97b93;
	color: #FFF !important;
	margin-bottom: 1em;
}

a.mb-button:after {
	content: '\2192';
	position: absolute;
	right: 0.75em;
	top: 0.5em;
	width: 2em;
	line-height: 2em;
	text-align: center;
	background: rgba(0, 0, 0, 0.3);
	border-radius: var(--cover-button-border-radius);
}



#main a[target="_blank"]:after {
	content: "\29C9";
	display: inline-block;
	margin-left: 5px;
}
